.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 0rem 2.5rem;
}
.dashboard_left,
.dashboard_right {
  flex: 0.5;
}
.dashboard h1 {
  color: #ff0000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  background-image: linear-gradient(40deg, #ff0000 0%, #9762af 100%);
  font-weight: 700;
  margin: 0.8rem 0rem;
  font-size: 2.7rem;
}
.dashboard_text {
  font-size: 1.1rem;
  color: white;
  margin: 0.8rem 0rem;
  line-height: 1.5;
}
.dashboard_logo {
  max-width: 60%;
}
.gif {
  max-width: 100%;
}
@media screen and (max-width: 1045px) {
  .dashboard {
    flex-direction: column;
    padding-top: 3rem;
    padding-inline: 3.5rem;
  }
  .dashboard_text {
    font-size: 1.1rem;
  }
  .dashboard_logo {
    max-width: 40%;
  }
}
@media screen and (max-width: 813px) {
  .dashboard_logo {
    max-width: 50%;
  }
  .dashboard_text {
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 500px) {
  .dashboard {
    padding-inline: 1.5rem;
  }
  .dashboard_text {
    text-align: center;
  }
  .dashboard_logo {
    max-width: 90%;
  }
  .dashboard h1 {
    text-align: center;
  }
}
