.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
  color: white;
  height: 100vh;
  flex: 0.2;
  position: fixed;
  padding-top: 2.5rem;
  max-width: 20%;
}
.logo {
  max-width: 90%;
  object-fit: contain;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 20px 0px;
}
.nav-text i {
  margin-right: 30px;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media screen and (max-width: 1045px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: -100%;
    max-width: 30%;
    transition: all 0.25s ease-in-out;
    opacity: 0;
  }
  .open {
    left: 0;
    opacity: 1;
    position: fixed;
  }
  .fa-times {
    position: absolute;
    right: -16%;
    font-size: 1.4rem;
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}
@media screen and (max-width: 785px) {
  .sidebar {
    max-width: 45%;
  }
}
@media screen and (max-width: 467px) {
  .sidebar {
    max-width: 70%;
  }
}
