.sidebar * {
  overflow: visible;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #28272c;
  color: white;
  height: 100vh;
  flex: 0.2;
  position: fixed;
  padding-top: 2.5rem;
  max-width: 20%;
  overflow-x: visible !important;
  width: 100%;
}
.logo {
  max-width: 80%;
  object-fit: contain;
  margin-bottom: 2rem;
  padding-left: 20px;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 20px 0px;
  padding-left: 5px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.active-link {
  background-color: #37363b;
  padding-inline: 10px;
}
.nav-text i {
  width: 3rem;
}
.nav-text i:last-child {
  width: 2.7rem;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media screen and (max-width: 1525px) {
  .sidebar {
    max-width: 27%;
  }
}
@media screen and (max-width: 1317px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: -100%;
    max-width: 40%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index: 5;
  }
  .open {
    left: 0;
    opacity: 1;
    position: fixed;
  }
  .fa-times {
    position: absolute;
    right: -16%;
    font-size: 1.4rem;
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}
@media screen and (max-width: 785px) {
  .sidebar {
    max-width: 65%;
  }
}
@media screen and (max-width: 467px) {
  .sidebar {
    max-width: 75%;
  }
  .nav-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 410px) {
  .sidebar {
    max-width: 85%;
  }
}
