.sidebar * {
  overflow: visible;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #28272c;
  color: white;
  height: 100vh;
  flex: 0.2;
  position: fixed;
  padding-top: 1.5rem;
  max-width: 20%;
  overflow-x: visible !important;
  width: 100%;
}
.logo {
  max-width: 80%;
  object-fit: contain;
  margin-bottom: 2rem;
  padding-left: 20px;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 20px 0px;
  padding-left: 5px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.link-abs {
  position: relative;
}
.fifty {
  position: absolute;
  right: -47%;
  font-size: 0.9rem;
  border: 1px solid white;
  background-color: transparent;
  background-image: linear-gradient(170deg, #ff0000 0%, #9762af 77%);
  padding: 10px 2px;
  font-weight: 500;
  color: white;
}
.nav-text::after {
  content: "";
  width: 0%;
  bottom: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.25s ease-in-out;
  position: absolute;
}
.nav-text:hover::after {
  width: 100%;
}
.active-link {
  background-color: #37363b;
  padding-inline: 5px;
}
.active-link::after {
  height: 0px;
}
.nav-text i {
  width: 3rem;
}
.nav-text i:last-child {
  width: 2.7rem;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.disabled {
  pointer-events: none;
  color: grey;
  position: relative;
}
.disabled::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: red;
}
.mobile-sidebar {
  display: none;
}
@media screen and (max-width: 1525px) {
  .sidebar {
    max-width: 27%;
  }
  .fifty {
    right: -47%;
  }
}
@media screen and (max-width: 1317px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: -100%;
    max-width: 40%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index: 5;
  }
  .open {
    left: 0;
    opacity: 1;
    position: fixed;
  }
  .fa-times {
    position: absolute;
    right: -16%;
    font-size: 1.4rem;
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}
@media screen and (max-width: 785px) {
  .sidebar {
    max-width: 65%;
  }
  .mobile-sidebar {
    display: flex;
  }
  .bottom-sidebar {
    margin-top: 1.5rem;
    flex-wrap: wrap;
    gap: 20px;
  }
  .bottom-sidebar .top-text {
    width: max-content;
  }
}
@media screen and (max-width: 500px) {
  .sidebar {
    max-width: 75%;
  }
  .nav-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 410px) {
  .sidebar {
    max-width: 85%;
  }
}
