.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 40vw;
  height: auto;
  min-height: 60vh;
  background-color: #2c2b30;
  left: 50%;
  top: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  gap: 20px;
  border-radius: 15px;
  top: -1000%;
  transition: all 0.85s ease-in-out;
  transition-delay: 0.25s;
}
.overlay {
  transition: all 0.65s ease-in-out;
  top: -1000%;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(40deg, #ff0000 0%, #9762af 100%);
  z-index: 4;
}
.pop img {
  max-width: 50%;
}
.pop h1 {
  text-transform: uppercase;
  font-size: 2.7rem;
  color: white;
}
.pop p {
  font-size: 1.3rem;
  color: white;
}
.pop-close {
  font-size: 1.8rem;
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background-color: transparent;
  width: auto;
  height: auto;
  border-radius: 0px;
}
.open-pop {
  top: 50%;
}
.open-pop-ov {
  top: 0;
}
@media screen and (max-width: 1586px) {
  .pop {
    width: 80vw;
  }
}
@media screen and (max-width: 724px) {
  .pop {
    width: 90vw;
  }
  .pop img {
    max-width: 70%;
  }
  .pop h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 465px) {
  .pop {
    width: 90vw;
    text-align: center;
  }
  .pop img {
    max-width: 90%;
  }
  .pop h1 {
    font-size: 1.5rem;
  }
  .pop p {
    font-size: 1.2rem;
  }
}
