.gochi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  color: white;
  text-align: center;
}
.gochi h1 {
  font-size: 2.8rem;
  transform: translateY(-6rem);
  opacity: 0;
}
.gochi p {
  font-size: 1.2rem;
  transform: translateY(-6rem);
  opacity: 0;
  width: 80%;
}
.gochi p span a {
  color: orange;
}
.gochi_connect {
  padding: 14px 45px;
  transform: translateY(6rem);
  opacity: 0;
  margin-top: 20px;
  display: block !important;
}
@media screen and (max-width: 950px) {
  .gochi {
    padding: 0rem 2rem;
  }
  .gochi h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 493px) {
  .gochi {
    padding: 0rem 0rem;
    padding-top: 2rem;
    height: auto;
  }
  .gochi h1 {
    font-size: 2.5rem;
  }
  .gochi p {
    font-size: 1rem;
  }
  .gochi_connect {
    margin-inline: 2rem;
    padding: 14px 30px;
  }
}
